.nft-marketplace {
    color: #9C9BE1; 
  }
  
  .habitual {
    color: #F6DE83;
  }
  
  .modern-website {
    color: #A21044; 
  }
  
  .carousel-animation {
    color: #F03943; 
  }
  section {
    text-align: center; 
  }