body, html, .app-container {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: black !important; /* Force black background */
    color: white; /* White text for contrast */
}
  /* Custom scrollbar for Chrome, Edge, and Safari */


  body {
    overflow: hidden;
  }
  
  /* Alternatively, if you want to only hide the horizontal scrollbar */
  body {
    overflow-x: hidden;
  }
  
  /* If you want to hide only the vertical scrollbar */
  body {
    overflow-y: hidden;
  }
/* 
body {
  cursor: url('/assets/cursor.png'), auto; 
} */

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none; /* Prevents interaction with other elements */
  z-index: 9999; /* Keeps it above all elements */
}

.cursor-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none; /* Ensures no interference with other UI elements */
  z-index: 9999;
}

  




  
  